html {
	font-size: 24px;
}
@media (min-width: 940px) {
	html {
		font-size: 32px;
	}
}

body {
	background: linear-gradient(45deg, #888 25%, transparent 25%, transparent 75%, #888 75%),
				linear-gradient(45deg, #888 25%, transparent 25%, transparent 75%, #888 75%);
	background-color: #666;
	background-size: 40px 40px;
	background-position: 0 0, 20px 20px;
	margin : 0px;
}

.prt-contents {
	text-align: center;
	min-width: 470px;
}

#prt-chapter-selet select {
	font-size: 1rem;
	margin-top: 1rem;
}
.txt-title {
	color:#eee;
	text-shadow: 2px 2px 2px #222;
	margin-top: 1rem;
}
/*メインテキスト親*/
.prt-main-txt {
	padding: 2rem 0;
}

/*メインテキストボックス*/
.prt-txt-box {
	margin: 0 auto;
	border-style: solid;
	border-radius: 0.5rem;
	background-color: #eee;
	width:16rem;
	height: 1.5rem;
}

/*デフォルトのスタイルで上書きされるな...*/
.prt-command .btn-step,
.prt-command #btn-play,
.prt-command #scenario-set,
.prt-command #btn-jump {
	font-size: 0.8rem;
}

#btn-play {
	width: 2rem;
	height: 1.6rem;
}

.prt-main-button,
.prt-sub-button {
	height: 2.2rem;
}

.speed-control {
	display: inline-block;
	background-color: #fefefe;
	font-size: 0.8rem;
	padding: 0.2rem;
}

#txt-current-page {
	margin-top: 0.5rem;
	font-size: 0.8rem;
}
